<!DOCTYPE html>
<html lang="uk">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Реєстрація</title>
    {% load static %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'css/style-login.css' %}"> <!-- Ваш власний CSS -->
</head>

<body>
    <div class="background-image">
        <div class="overlay"></div>
        <div class="login-form">
            <h2>Реєстрація</h2>
            <form method="POST">
                {% csrf_token %}
                <input type="text" name="username" placeholder="Username" required>
                <input type="email" name="email" placeholder="Email" required>
                <input type="password" name="password1" placeholder="Password" required>
                <input type="password" name="password2" placeholder="Password again" required>
                <div class="error">
                    {% if form.errors %}
                        {% for field in form %}
                            {% for error in field.errors %}
                                <p class="error-text"> {{ error }}</p>
                            {% endfor %}
                        {% endfor %}
                    {% endif %}
                </div>
                <button type="submit">Зареєструватись</button>
                <p>Маєте акаунт? <a href="/login">Увійдіть</a></p>
            </form>
        </div>
    </div>

  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>
