<!DOCTYPE html>
<html lang="uk">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Головна сторінка</title>
    {% load static %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'css/style.css' %}"> <!-- Ваш власний CSS -->
</head>

<body>
  <header>
    <div class="header">
      <a href="/" class="logo"><img src="{% static 'images/pcb_icon.png' %}" alt="Логотип" class="icon-size img-fluid"></a>
      <div class="header-right">
        {% if user.is_authenticated %}
            <p class="welcome-text">Ласкаво просимо, {{user}}</p>
            <a href="/logout" id="logout-button">Вийти</a>
        {% else %}
            <a id="login-button">Вхід</a>
            <a id="sign-up-button">Реєстрація</a>
        {% endif %}
      </div>
    </div>

    <div class="main-heading">
      <h1><span id="HELLO_THIS_IS_MY_FIRST_HEADER-3">Сканування дефектів друкованих плат</span></h1>
      <p class="small-padding">Щоб перевірити плату на наявність дефектів, оберіть картинку для сканування та моделі, які хочете використати.</p>
    </div>
  </header>

  <div id="overlay">
      <div class="spinner"></div>
  </div>
  <div class="body-content" id="body_content">
      <form class="custom__form form-positions">
          {% csrf_token %}
          <input type="file"
                 id="image-file"
                 accept="image/x-png, image/jpeg"
                 style="display : none"
          />
          <label id="image-label" for="image-file">Виберіть картинку</label>
          <br />

          <p class="error" id="image-error" style="display: none"></p>
          <div class="flex-content">
              <div class="block">
                  <p class="small-padding beautiful">Оберіть модель локалізації</p>
                  <select class="custom-select" id="localization">
                      <option value="1">Yolo v8</option>
                      <option value="2">Faster R-CNN</option>
                  </select>
              </div>
              <div class="block">
                  <p class="small-padding beautiful">Оберіть модель класифікації</p>
                  <select class="custom-select" id="classification">
                      <option value="3">VGG</option>
                      <option value="4">ResNet</option>
                  </select>
              </div>
          </div>
          <div class="form__controls small-padding">
              {% if user.is_authenticated %}
                <button type="button" id="process-button" class="btn btn-success btn-lg">Process Image</button>
              {% else %}
                  <p class="error">Для сканування увійдіть в акаунт</p>
              {% endif %}
          </div>
      </form>
  </div>
  <div class="header block" id="rating-content">
  </div>

  <script>
     const input_file = document.getElementById('image-file');
     const input_label = document.getElementById('image-label');
     const process_button = document.getElementById('process-button');
     const login_button = document.getElementById('login-button');
     const signup_button = document.getElementById('sign-up-button');
     const image_error = document.getElementById('image-error');
     const body = document.getElementById('body_content');
     let my_image = '';

     const convert_to_base64 = file => new Promise((response) => {
        const file_reader = new FileReader();
        file_reader.readAsDataURL(file);
        file_reader.onload = () => response(file_reader.result);
     });

     window.addEventListener('load', function () {
         const container = document.getElementById('rating-content');
         let ratings = "{{marks}}"
         ratings = ratings .replace(/&#x27;/g, "'")
            .replace(/Decimal\('([\d\.]+)'\)/g, '$1');
         ratings = JSON.parse(ratings.replace(/'/g, '"'))

         ratings.forEach(function (item) {
              const divEl = document.createElement('div');
              divEl.className = 'block';

              const newElement = document.createElement('p');
              newElement.className = 'welcome-text'
              newElement.textContent = 'Рейтинг моделей ';

              const models = document.createElement('strong')
              models.textContent = item.classification_model_id + ' + ' + item.localization_model_id;
              models.style.fontStyle = 'italic';

              const rating = document.createElement('span')
              rating.textContent = ': ' + item.mark;
              rating.style.fontStyle = 'italic';

              const star = document.createElement('span')
              star.textContent = '★';
              star.style.fontSize = '30px'
              star.style.color = 'gold'

              newElement.appendChild(models)
              newElement.appendChild(rating)
              newElement.appendChild(star)
              divEl.appendChild(newElement)
              container.appendChild(divEl);
         })
     })

     input_file.addEventListener('change', async function(){
       const file = document.querySelector('#image-file').files;
       my_image = await convert_to_base64(file[0]);
       input_label.style.backgroundImage =`url(${my_image})`
     });

    if (login_button) {

         login_button.addEventListener('click', async function(){
             fetch('/login', {
                 method: 'GET',
             })
              .then(data => {
                  window.location.href = data.url
              })
              .catch(error => console.error('Error:', error));
         });

         signup_button.addEventListener('click', async function(){
             fetch('/sign-up', {
                 method: 'GET',
             })
              .then(data => {
                  window.location.href = data.url
              })
              .catch(error => console.error('Error:', error));
         });
     }

     process_button.addEventListener('click', async function(){
         if (my_image === '') {
             image_error.style.display = "block";
             image_error.textContent = "Фото - обов'язкове поле";
         } else {
             image_error.style.display = "none";
             image_error.textContent = "";

             const loc_model = document.getElementById('localization');
             const class_model = document.getElementById('classification');
             const data = {
                 image: my_image,
                 localization_model: loc_model.value,
                 classification_model: class_model.value
             }
             const csrfToken = document.querySelector('[name=csrfmiddlewaretoken]').value;

             const formData = JSON.stringify(data);
             body.style.zIndex = '9999';
             body.style.visibility = 'hidden';
             body.style.background = 'rgba(0, 0, 0, 0.5)';
             document.getElementById('overlay').style.visibility = 'visible';

             fetch('/api/process-image/', {
                 method: 'POST',
                 body: formData,
                 headers: {
                     'Content-Type': 'application/json',
                     'X-CSRFToken': csrfToken,
                 },
             }).then(response => response.json())  // якщо повертається JSON
            .then(data => {
                if (data.url) {
                    window.location.href = data.url;  // Перенаправляємо користувача
                }
            })
             .catch(error => console.error('Error:', error));
         }
     });
  </script>
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>
